@model List<AyudandoAlProjimo.Data.Propuestas>

@{ }

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">¡Bienvenido!</h1>
            <p class="lead">A continuación se listan las cinco principales propuestas activas más valoradas por los usuarios del sitio</p>
        </header>

        <div class="container mt-5">
            <div class="row">
                @foreach (var p in Model)
                {
                    <div class="col-md-4">
                        <div class="card p-4">
                            <img src="~/Imagenes/@p.Foto" class="img-thumbnail" alt="" style="width:300px;height:200px;" />
                            <div><span class="mr-3">Creada por:</span> @p.Usuarios.Nombre @p.Usuarios.Apellido</div>
                            <div><span class="mr-3">Usuario:</span>@p.Usuarios.UserName</div>
                            <div><span class="mr-3">Fecha de finalización:</span>@p.FechaFin.ToString("dd/MM/yyyy")</div>
                            <div><span class="mr-3">Aceptación:</span>@p.Valoracion%</div>
                            <a class="btn btn-dark" href="/Propuestas/VerDetallePropuesta/@p.IdPropuesta">Detalle</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/js")
</body>
</html>

