@{
    Layout = "~/Views/Shared/InicioLayout.cshtml";
}

@model AyudandoAlProjimo.Data.Extensiones.ViewModelLogin

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>

    @if (ViewData["Error"] != null)
    {
        <br />
        <div class="alert alert-danger centermsg" role="alert">
            @ViewData["Error"]
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="margin-top: 50px">
                    <div class="card-body">
                        <form action="/Usuario/AutorizarLogin" method="post">
                            <h5 class="card-title">Login</h5>

                            @Html.Label("Email", "Correo electrónico:")

                            <div class="form-group">
                                @Html.EditorFor(o => o.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                                <p class="text-danger">@Html.ValidationMessageFor(o => o.Email)</p>
                            </div>

                            @Html.Label("Password", "Contraseña:")
                            <div class="form-group">
                                @Html.EditorFor(o => o.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                <p class="text-danger">@Html.ValidationMessageFor(o => o.Password)</p>
                                @Html.ValidationMessage("incorrecto", new { @class = "label label-danger" })
                                @Html.ValidationMessage("inactivo", new { @class = "label label-danger" })

                            </div>

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me">Recordarme
                                </label>
                            </div>
                            <br />
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

                        </form>
                    </div>
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>