@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

@model AyudandoAlProjimo.Data.Usuarios

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <form action="/Usuario/AutorizarLogin" method="post">
                <h5 class="mt-5">Login usuario</h5>

                @Html.Label("Email", "Correo electrónico:")
                <div class="form-group">
                    @Html.EditorFor(o => o.Email)
                    @Html.ValidationMessageFor(o => o.Email)
                </div>

                @Html.Label("Password", "Contraseña:")
                <div class="form-group">
                    @Html.EditorFor(o => o.Password)
                    @Html.ValidationMessageFor(o => o.Password)
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me">Recordarme
                    </label>
                </div>
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

            </form>
        </div>
        </div>
</body>
</html>

