@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

@model AyudandoAlProjimo.Data.Usuarios

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <form action="/Usuario/AutorizarLogin" method="post">
            <h5 class="mt-5">Login usuario</h5>

            <div class="form-group">
                @Html.Label("Email", "Correo electrónico:")
                @Html.EditorFor(o => o.Email)
                @Html.ValidationMessageFor(o => o.Email)
            </div>

            <div class="form-group">
                @Html.Label("Password", "Contraseña:")
                @Html.EditorFor(o => o.Password)
                @Html.ValidationMessageFor(o => o.Password)
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me">Recordarme
                </label>
            </div>
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

        </form>
    </div>
</body>
</html>

