@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "MiPerfil";
    ViewBag.FechaNacimiento = Model.FechaNacimiento.ToString("yyyy-MM-dd");
}

@model AyudandoAlProjimo.Data.Usuarios

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mi perfil</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/Usuario/MiPerfil" method="post">

                            <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />

                            <h1 class="card-title">Editar mi perfil</h1>
                            @*<div class="form-control">*@

                            @Html.LabelFor(o => o.Nombre)
                            <br />
                            @Html.EditorFor(usuario => usuario.Nombre, new { htmlAttributes = new { @class = "form-control", type = "text", required = "required" } })
                            @Html.ValidationMessageFor(o => o.Nombre, "", new { @class = "text-danger" })
                            <br />

                            @Html.LabelFor(o => o.Apellido)
                            <br />
                            @Html.EditorFor(usuario => usuario.Apellido, new { htmlAttributes = new { @class = "form-control", type = "text", required = "required" } })
                            @Html.ValidationMessageFor(o => o.Apellido, "", new { @class = "text-danger" })
                            <br />

                            @Html.LabelFor(o => o.FechaNacimiento)
                            <input type="date" name="FechaNacimiento" value="@ViewBag.FechaNacimiento" />
                            @*@Html.TextBox(ViewBag.Fecha, new { htmlAttributes = new { id = "inputFechaNacimiento", name = "fechaNacimiento", @class = "form-control", required = "required", type = "text", autocomplete = "off", value = $"{Model.FechaNacimiento:dd/MM/yyyy}" } })
                            <br />*@

                            <div class="form-group">
                                <span class="text-black-50">Subir Foto</span>
                                @Html.TextBoxFor(usuario => usuario.Foto, new { type = "file", id = "upload" })
                                @Html.ValidationMessageFor(usuario => usuario.Foto, string.Empty, new { @class = "text-danger" })
                            
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
                            @*</div>*@
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>