@{
    Layout = "~/Views/Shared/InicioLayout.cshtml";
}

@model AyudandoAlProjimo.Data.Extensiones.ViewModelRegistro

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registro de usuario</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="margin-top: 50px">
                    <div class="card-body">
                        <form action="/Usuario/Registro" method="post">
                            <h5 class="card-title"> Formulario de registro</h5>

                            @Html.Label("Email", "Correo electrónico:")
                        <div class="form-group">
                            @Html.TextBoxFor(o => o.Email, new { type = "email" })
                            <p class="text-danger">@Html.ValidationMessageFor(o => o.Email)</p>
                        </div>

                            @Html.Label("Password", "Contraseña:")
                        <div class="form-group">
                            @Html.TextBoxFor(o => o.Password, new { type = "password" })
                            <p class="text-danger">@Html.ValidationMessageFor(o => o.Password)</p>
                        </div>

                            @Html.Label("Password", "Repetir Contraseña:")
                        <div class="form-group">
                            @Html.TextBoxFor(o => o.Password2, new { type = "password" })
                            <p class="text-danger">@Html.ValidationMessageFor(o => o.Password2)</p>
                        </div>

                            @Html.Label("FechaNacimiento", "Fecha de nacimiento")
                        <div class="form-group">                         
                            @Html.TextBoxFor(o => o.FechaNacimiento, new { type= "date" })
                            <p class="text-danger">@Html.ValidationMessageFor(o => o.FechaNacimiento)</p>
                        </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>