@{
    Layout = "~/Views/Shared/AnonimoLayout.cshtml";
}

@model AyudandoAlProjimo.Data.Usuarios

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registro de usuario</title>
</head>
<body>
    <div class="form-container">
    <h5 class="mt-5">Formulario de registro</h5>
    <form action="/Usuario/Registro" class="border border-light p-5 align-items-center col col-md-6 offset-md-3" method="post">


        <div class="form-group">
            @Html.Label("Email", "Correo electrónico:")
            @Html.EditorFor(o => o.Email)
            @Html.ValidationMessageFor(o => o.Email)
        </div>

        <div class="form-group">
            @Html.Label("Password", "Contraseña:")
            @Html.EditorFor(o => o.Password)
            @Html.ValidationMessageFor(o => o.Password)
        </div>

        @*Repita la contraseña:
            @Html.EditorFor(o => o.Password2)
            @Html.ValidationMessageFor(o => o.Password2)*@
        <br />
        <div class="form-group">
            @Html.Label("FechaNacimiento", "Fecha de nacimiento")
            @Html.EditorFor(o => o.FechaNacimiento)
            @Html.ValidationMessageFor(o => o.FechaNacimiento)
        </div>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
    </form>
    </div>
</body>
</html>