@{
    Layout = "~/Views/Shared/AnonimoLayout.cshtml";
}

@model AyudandoAlProjimo.Data.Usuarios

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registro de usuario</title>
</head>
<body>
    <div class="form-container text-center">
        <form action="/Usuario/Registro" method="post" class="form-group">

            <h1 class="h3 mb-3 font-weight-normal">Registro de usuario</h1>
            <div class="form-control-lg">
                Correo electronico:
                <br />
                @Html.EditorFor(o => o.Email)
                @Html.ValidationMessageFor(o => o.Email)
                <br />
                Contraseña:
                <br />
                @Html.EditorFor(o => o.Password)
                @Html.ValidationMessageFor(o => o.Password)
                <br />
                @*Repita la contraseña:
                    @Html.EditorFor(o => o.Password2)
                    @Html.ValidationMessageFor(o => o.Password2)*@
                <br />
                Fecha de nacimiento:
                <br />
                @Html.EditorFor(o => o.FechaNacimiento)<br />
                @Html.ValidationMessageFor(o => o.FechaNacimiento)
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarme</button>
            </div>
        </form>

    </div>
</body>
</html>