@model AyudandoAlProjimo.Data.Usuarios
@{
    ViewBag.Title = "VerMiPerfil";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<div class="container">
    <div class="abs-center">
        <h2 class="text-white text-center">Mi Perfil</h2>

        <div class="col-md-6 align-items-center justify-content-center bg-white p-4 mt-4 rounded shadow">
            <img src="~/Imagenes/@Model.Foto" class="rounded-circle" alt="" style="width:150px;height:150px;" />
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <p class="usuario-label">Nombre de usuario</p>
                    <strong class="strong-usuario-info">@Model.UserName</strong>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <p class="usuario-label">Nombre y apellido</p>
                    <strong class="strong-usuario-info">@Model.Nombre @Model.Apellido</strong>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <p class="usuario-label">Fecha de nacimiento</p>
                    <strong class="strong-usuario-info">@Model.FechaNacimiento.ToString("dd/MM/yyyy")</strong>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <p class="usuario-label">Email</p>
                    <strong class="strong-usuario-info">@Model.Email</strong>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <button type="button" id="btnHistorialDonaciones" class="btn btn-success">Historial de Donaciones</button>
                </div>
            </div>
        </div>
    </div>
</div>

