@model AyudandoAlProjimo.Data.Usuarios
@{
    ViewBag.Title = "VerMiPerfil";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

    <div class="container">
        <h3>Mi perfil</h3>
        <div class="col">
            <span class="float-right"><a href="#" class="btn btn-secondary">Historial de donaciones</a></span>
        </div>
        <div class="row">
            <div class="col-10 col-lg-7 order-2 order-lg-1">
                <img src="~/Imagenes/@Model.Foto" class="img-thumbnail" alt="" style="width:200px;height:200px;" />
                <div class="font-weight-bold">
                    <h3 class="entry-title">Nombre de usuario: @Model.UserName</h3>
                </div>
                <div class="font-weight-bold">
                    <h3 class="entry-title">Nombre y apellido: @Model.Nombre @Model.Apellido</h3>
                </div>
                <div class="font-weight-bold">
                    <h3 class="entry-title">Fecha de nacimiento: @Model.FechaNacimiento.ToString("dd/MM/yyyy")</h3>
                </div>
                <div class="font-weight-bold">
                    <h3 class="entry-title">Email: @Model.Email</h3>
                </div>
            </div>
        </div>


    </div>

