@model AyudandoAlProjimo.Data.Denuncias
@{
    ViewBag.Title = "CargarDenuncia";

}

<div class="container">
    <h3>Realizar una denuncia</h3>

    <form action="/Propuestas/CargarDenuncia" method="post">
        <input type="hidden" name="IdUsuario" value="@Model.IdUsuario" />
        <input type="hidden" name="IdPropuesta" value="@Model.IdPropuesta" />

        <div class="form-group">
            <input type="hidden" name="IdMotivo" value="@Model.IdMotivo" />
            @Html.Label("IdMotivo", "Motivo de la denuncia:")
            <select class="form-control" id="IdMotivo" name="IdMotivo">
                <option value="1">Fraude</option>
                <option value="2">Indebida</option>
                <option value="3">Violación de derechos</option>
                <option value="4">Contiene información política</option>
            </select>
        </div>

        <div class="form-group">
            @Html.Label("Comentarios", "Agregar comentarios:")
            @Html.EditorFor(d => d.Comentarios, null, new { @class = "form-control" })
        </div>

        <input class="btn btn-primary" type="submit" value="Crear" />
    </form>

</div>

