@model AyudandoAlProjimo.Data.PropuestasDonacionesHorasTrabajo

@{
    ViewBag.Title = "CrearPropuestaHorasTrabajo";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

<body>
    <div class="container col-lg-12">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="margin-top: 50px">
                    <div class="card-body">
                        <form action="/Propuestas/CrearPropuestaHorasTrabajo" method="post">
                            <h5 class="card-title">Crear propuesta de horas de trabajo</h5>

                            <input type="hidden" name="Nombre" value="@Model.Nombre" />
                            <input type="hidden" name="Descripcion" value="@Model.Descripcion" />
                            <input type="hidden" name="FechaFin" value="@Model.FechaFin" />
                            <input type="hidden" name="TelefonoContacto" value="@Model.TelefonoContacto" />
                            <input type="hidden" name="TipoDonacion" value="@Model.TipoDonacion" />
                            <input type="hidden" name="Foto" value="@Model.Foto" />
                            <input type="hidden" name="Nombre1" value="@ViewBag.Nombre1" />
                            <input type="hidden" name="Telefono1" value="@ViewBag.Telefono1" />
                            <input type="hidden" name="Nombre2" value="@ViewBag.Nombre2" />
                            <input type="hidden" name="Telefono2" value="@ViewBag.Telefono2" />

                            @Html.Label("CantidadHoras", "Cantidad de horas de trabajo a donar:")
                            <div class="form-group">
                                @Html.EditorFor(o => o.CantidadHoras, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(o => o.CantidadHoras, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Profesion", "Profesion de quien dona:")
                                <select class="form-control" id="Profesion" name="Profesion">
                                    <option value="Albañil">Albañil</option>
                                    <option value="Plomero">Plomero</option>
                                    <option value="Electricista">Electricista</option>
                                    <option value="Abogado">Abogado</option>
                                    <option value="Contador">Contador</option>
                                    <option value="Trabajador social">Trabajador social</option>
                                    <option value="Psicologa">Psicóloga</option>
                                    <option value="Psicopegadoga">Psicopedagoga</option>
                                    <option value="Cocinero">Cocinero</option>
                                    <option value="Limpieza">Limpieza</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Fecha.js"></script>
</body>

