@model AyudandoAlProjimo.Data.PropuestasDonacionesInsumos

@{
    ViewBag.Title = "CrearPropuestaDonacionInsumos";
}

<form action="/Propuestas/CrearPropuestaDonacionInsumos" method="post">

    <h2>Crear propuesta de donación de insumos</h2>

    <input type="hidden" name="Nombre" value="@Model.Nombre" />
    <input type="hidden" name="Descripcion" value="@Model.Descripcion" />
    <input type="hidden" name="FechaFin" value="@Model.FechaFin" />
    <input type="hidden" name="TelefonoContacto" value="@Model.TelefonoContacto" />
    <input type="hidden" name="TipoDonacion" value="@Model.TipoDonacion" />
    <input type="hidden" name="Foto" value="@Model.Foto" />
    <input type="hidden" name="Nombre1" value="@ViewBag.Nombre1" />
    <input type="hidden" name="Telefono1" value="@ViewBag.Telefono1" />
    <input type="hidden" name="Nombre2" value="@ViewBag.Nombre2" />
    <input type="hidden" name="Telefono2" value="@ViewBag.Telefono2" />

    <div class="form-group">
        @Html.Label("Nombre", "Insumo:")
        @Html.TextBox("Nombre")
    </div>

    <div class="form-group">
        @Html.Label("Cantidad", "Cantidad:")
        @Html.TextBox("Cantidad")
    </div>

    <input class="btn btn-primary" type="submit" value="Crear" />
</form>



