@model AyudandoAlProjimo.Data.PropuestasDonacionesMonetarias

@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "CrearPropuestaMoneraria";
}

<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="margin-top: 50px">
                    <div class="card-body">
                        <form action="/Propuestas/CrearPropuestaMoneraria" method="post">
                            <h5 class="card-title">Crear propuesta monetaria</h5>

                            <input type="hidden" name="Nombre" value="@Model.Nombre" />
                            <input type="hidden" name="Descripcion" value="@Model.Descripcion" />
                            <input type="hidden" name="FechaFin" value="@Model.FechaFin" />
                            <input type="hidden" name="TelefonoContacto" value="@Model.TelefonoContacto" />
                            <input type="hidden" name="TipoDonacion" value="@Model.TipoDonacion" />
                            <input type="hidden" name="Foto" value="@Model.Foto" />
                            <input type="hidden" name="Nombre1" value="@ViewBag.Nombre1" />
                            <input type="hidden" name="Telefono1" value="@ViewBag.Telefono1" />
                            <input type="hidden" name="Nombre2" value="@ViewBag.Nombre2" />
                            <input type="hidden" name="Telefono2" value="@ViewBag.Telefono2" />

                            @Html.Label("Dinero", "Dinero a donar:")
                            <div class="form-group">
                                @Html.EditorFor(o => o.Dinero, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                @Html.ValidationMessageFor(o => o.Dinero, "", new { @class = "text-danger" })
                            </div>

                            @Html.Label("CBU", "CBU:")
                            <div class="form-group">
                                @Html.EditorFor(o => o.CBU, new { htmlAttributes = new { @class = "form-control", @type = "text" } })   
                                @Html.ValidationMessageFor(o => o.CBU, "", new { @class = "text-danger" })
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Fecha.js"></script>
</body>
