@model AyudandoAlProjimo.Data.Propuestas

@{
    ViewBag.Title = "CrearPropuestaDonacionInsumos";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

}

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card" style="margin-top: 50px">
                    <div class="card-body">
                        <form action="/Propuestas/CrearPropuestaDonacionInsumos" method="post">
                            <h5 class="card-title">Crear propuesta insumos</h5>

                            <input type="hidden" name="Nombre" value="@Model.Nombre" />
                            <input type="hidden" name="Descripcion" value="@Model.Descripcion" />
                            <input type="hidden" name="FechaFin" value="@Model.FechaFin" />
                            <input type="hidden" name="TelefonoContacto" value="@Model.TelefonoContacto" />
                            <input type="hidden" name="TipoDonacion" value="@Model.TipoDonacion" />
                            <input type="hidden" name="Foto" value="@Model.Foto" />
                            <input type="hidden" name="Nombre1" value="@ViewBag.Nombre1" />
                            <input type="hidden" name="Telefono1" value="@ViewBag.Telefono1" />
                            <input type="hidden" name="Nombre2" value="@ViewBag.Nombre2" />
                            <input type="hidden" name="Telefono2" value="@ViewBag.Telefono2" />

                            <div id="contenedor-insumos">
                                <div class="form-row insumo">

                                    <div class="form-group">
                                        @Html.Label("Nombres[0]", "Nombre insumo:")
                                        @Html.TextBox("Nombres[0]", null, new { @class = "form-control" })
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Cantidad[0]", "Cantidad:")
                                        @Html.TextBox("Cantidad[0]", null, new { @class = "form-control", @type = "number" })
                                    </div>
                                </div>
                                <input type="hidden" name="CantidadInsumos" id="input-cantidad-insumos" value="1" />
                            </div>

                            <button type="button" class="btn btn-primary mb-4" onclick="agregarInsumo()">Agregar insumo</button>

                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Crear" />
                        </form>

                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
