@model AyudandoAlProjimo.Data.Propuestas
@{
    ViewBag.Title = "RealizarDonacionDeInsumos";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

}

<div class="abs-center">
    <div class="row">
        <div class="col"></div>
        <div class="col-12">
            <div class="card" style="margin-top: 50px">
                <div class="card-body">
                    <h3 class="card-title">Realizar donación a la propuesta</h3>
                    <h3 class="card-tittle"><strong>@Model.Nombre</strong></h3>

                    <form action="/Propuestas/RealizarDonacionDeInsumos" method="post">

                        <div class="form-group">
                            <input type="hidden" name="Cantidad" value="@Model.PropuestasDonacionesInsumos.Count()" />
                            <input type="hidden" name="IdUsuario" value="@ViewBag.IdDonante" />
                        </div>

                        <div class="form-group">
                            @Html.Label("Cantidad de insumos que va a donar:")            
                        </div>


                        @foreach (var prop in Model.PropuestasDonacionesInsumos)
                        {
                            int indice = Model.PropuestasDonacionesInsumos.ToList().IndexOf(prop);

                            <input type="hidden" name="IdPropuestaDonacionInsumo[@indice]" value="@prop.IdPropuestaDonacionInsumo" />

                            <div class="form-group">
                                @Html.TextBox("Nombre", @prop.Nombre, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.TextBox("Cantidad[" + @indice + "]", 0, new { @class = "form-control", @type = "number" })
                            </div>
                        }

                        <input class="btn btn-primary" type="submit" value="Realizar donacion" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>



