@model List<AyudandoAlProjimo.Data.Propuestas>

@{
    ViewBag.Title = "MisPropuestas";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    var hoy = DateTime.Today;

}

<div class="container mt-4">
    @if (ViewBag.propuestasCreadas >= 3)
    {
        <span class="warning">No puedes poseer mas de tres propuestas activas</span>                    
    }
</div>


@if (ViewBag.propuestasCreadas == 0)
{
    <span class="warning">Aún no creaste ninguna propuesta</span>
}
else
{
    <div class="container mt-5">

        <div class="row">
            @foreach (var p in Model)
            {
                <div class="col-md-4">
                    <div class="card p-4">
                        <img src="~/Imagenes/@p.Foto" class="img-thumbnail" alt="" style="width:300px;height:200px;" />
                        <div><span class="mr-3">Creada por:</span> @p.Usuarios.Nombre @p.Usuarios.Apellido</div>
                        <div><span class="mr-3">Usuario:</span>@p.Usuarios.UserName</div>
                        <div><span class="mr-3">Fecha de finalización:</span>@p.FechaFin.ToString("dd/MM/yyyy")</div>
                        <div><span class="mr-3">Aceptación:</span>@p.Valoracion%</div>
                        <a class="btn btn-dark" href="/Propuestas/VerDetallePropuesta/@p.IdPropuesta">Detalle</a>

                        @if (@p.FechaFin > @hoy)
                        {
                            <a class="boton" href="/Propuestas/ModificarPropuesta/@p.IdPropuesta">Modificar</a>
                        }
                        else
                        {
                            <button class="boton" disabled="disabled">Modificar</button>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
}


