@model List<AyudandoAlProjimo.Data.Propuestas>

@{
    ViewBag.Title = "MisPropuestas";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

}


<div class="container mt-5">

    <div class="row">
        @foreach (var p in Model)
        {
            <div class="col-md-4">
                <div class="card p-4">
                    <img src="~/Imagenes/@p.Foto" class="img-thumbnail" alt="" style="width:300px;height:200px;" />
                    <div><span class="mr-3">Creada por:</span> @p.Usuarios.Nombre @p.Usuarios.Apellido</div>
                    <div><span class="mr-3">Usuario:</span>@p.Usuarios.UserName</div>
                    <div><span class="mr-3">Fecha de finalización:</span>@p.FechaFin.ToString("dd/MM/yyyy")</div>
                    <div><span class="mr-3">Aceptación:</span>@p.Valoracion%</div>
                    <a class="btn btn-dark" href="/Propuestas/VerDetallePropuesta/@p.IdPropuesta">Detalle</a>
                </div>
            </div>
        }
    </div>
</div>


