@model AyudandoAlProjimo.Data.PropuestasDonacionesInsumos

@{
    ViewBag.Title = "RealizarDonacionDeInsumos";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

}

<div class="container">
    <h3>Realizar tu donación de insumos a: @Model.Nombre</h3>

    <form action="/Propuestas/RealizarDonacionDeInsumos" method="post">

        <div class="form-group">
            <input type="hidden" name="Cantidad" value="@Model.PropuestasDonacionesInsumos.Count()" />
            <input type="hidden" name="IdUsuario" value="@Model.IdUsuarioCreador" />
        </div>

        <div class="form-group">
            @Html.Label("Cantidad de insumos que va a donar:")
            <br />
            @Html.TextBox("Cantidad", 0, new { @type = "number", @class = "form-control"})
        </div>


        @*@foreach (var prop in Model.PropuestasDonacionesInsumos)
        {
            int indice = Model.PropuestasDonacionesInsumos.ToList().IndexOf(prop);

            <input type="hidden" name="IdPropuestaDonacionInsumo[@indice]" value="@prop.IdPropuestaDonacionInsumo" />

            <div class="form-group">
                @Html.TextBox("Cantidad[" + @indice + "]", 0, new { @class = "form-control", @type = "number" })
            </div>

            <div class="form-group">
                @Html.TextBox("Nombre", @prop.Nombre,  new { @class = "form-control"})
            </div>
        }*@
        <br />
        <input class="btn btn-primary" type="submit" value="Realizar donacion" />
    </form>
</div>



