@model AyudandoAlProjimo.Data.Propuestas

@{
    ViewBag.Title = "RealizarDonacionDeHorasDeTrabajo";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

}

<div class="container">
    <h3>Realizar tu donación de horas de trabajo a: @Model.Nombre</h3>

    <form action="/Propuestas/RealizarDonacionDeHorasDeTrabajo" method="post">

        <div class="form-group">
            <input type="hidden" name="IdPropuestaDonacionHorasTrabajo" value="@Model.PropuestasDonacionesHorasTrabajo.First().IdPropuestaDonacionHorasTrabajo" />
            <input type="hidden" name="IdUsuario" value="@Model.IdUsuarioCreador" />
        </div>

        <div class="form-group">
            @Html.Label("Cantidad", "Cantidad de horas de trabajo que va a donar:")
            <br />
            @Html.TextBox("Cantidad", 0, new { @type = "number", @class = "form-control" })
        </div>
        <br />

        <input class="btn btn-primary" type="submit" value="Realizar donacion" />
    </form>
</div>



