@model AyudandoAlProjimo.Data.Propuestas

@{
    ViewBag.Title = "RealizarDonacionMonetaria";
    Layout = "~/Views/Shared/BaseLayout.cshtml";

}

<div class="container">
    <h3>Realizar tu donación de dinero a: @Model.Nombre</h3>

    <form action="/Propuestas/RealizarDonacionMonetaria" method="post">

        <div class="form-group">
            <input type="hidden" name="IdPropuestaDonacionMonetaria" value="@Model.PropuestasDonacionesMonetarias.First().IdPropuestaDonacionMonetaria" />
            <input type="hidden" name="IdUsuario" value="@Model.IdUsuarioCreador" />
        </div>

        <div class="form-group">
            @Html.Label("Dinero", "Cantidad de dinero que va a donar:")
            <br />
            @Html.TextBox("Dinero", 0, new { @type = "number", @class = "form-control" })
        </div>
        <br />

        <input class="btn btn-primary" type="submit" value="Realizar donacion" />
    </form>
</div>

