@model AyudandoAlProjimo.Data.PropuestasDonacionesHorasTrabajo

@{
    AyudandoAlProjimo.Data.Usuarios user = (AyudandoAlProjimo.Data.Usuarios)Session["Session"];

    ViewBag.TotalDeHorasCubiertas = Model.DonacionesHorasTrabajo.Where(o => o.IdPropuestaDonacionHorasTrabajo == Model.IdPropuestaDonacionHorasTrabajo).Sum(o => o.Cantidad);
    ViewBag.HorasRestantes = (0 > (Model.CantidadHoras - ViewBag.HorasCubiertas)) ? 0 : Model.CantidadHoras - ViewBag.HorasCubiertas;
}

<h5>Profesion: @Model.Profesion</h5>

<span class="font-weight-bold">Total de horas a cubir @Model.CantidadHoras</span>
<span class="font-weight-bold">Restan por curbirse @ViewBag.HorasRestantes horas</span>
<span class="font-weight-bold">Horas cubiertas @ViewBag.TotalDeHorasCubiertas horas</span>

<span class="font-weight-bold">
    Porcentaje de aceptación @Model.Propuestas.Valoracion%
</span>



