@model AyudandoAlProjimo.Data.Propuestas

@{
    ViewBag.Title = "VerDetallePropuesta";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
}

    <div class="container">
        <h3>@Model.Nombre</h3>

        <img src="~/Imagenes/@Model.Foto" alt="" class="img-thumbnail">
        <div>Donacion @Model.TipoDeDonacion()</div>
        <div>Creado el @Model.FechaCreacion</div>
        <div>Con fecha de finalización @Model.FechaFin</div>

        Descripcion: @Model.Descripcion
        @if (Model.TipoDonacion == 1)
        {
            @Html.Partial("VerDetallePropuestaMonetaria", Model.PropuestasDonacionesMonetarias.First())
        }
        else if (Model.TipoDonacion == 2)
        {
            @Html.Partial("VerDetallePropuestaInsumos", Model.PropuestasDonacionesInsumos.ToList())
        }
        else
        {
            @Html.Partial("VerDetallePropuestaHorasTrabajo", Model.PropuestasDonacionesHorasTrabajo.First())
        }

        <br />
        <a href="/Propuestas/RealizarDonacion/@Model.IdPropuesta">Realizar donación</a>
        <br />
        <a href="#">Me gusta</a>
        <a href="#">No me gusta</a>

        <br />
        Referencias:
        @foreach (var referencias in Model.PropuestasReferencias)
        {
            <div>Nombre: @referencias.Nombre</div>
            <div>Teléfono: @referencias.Telefono</div>
        }

    </div>
