@model AyudandoAlProjimo.Data.PropuestasDonacionesHorasTrabajo

@{
    ViewBag.TotalDeHorasCubiertas = Model.DonacionesHorasTrabajo.Where(o => o.IdPropuestaDonacionHorasTrabajo == Model.IdPropuestaDonacionHorasTrabajo).Sum(o => o.Cantidad);

    if ((Model.CantidadHoras - ViewBag.TotalDeHorasCubiertas) < 0)
    {
        ViewBag.HorasRestantes = 0;
    }
    else
    {
        ViewBag.HorasRestantes = Model.CantidadHoras - ViewBag.CantidadDeHorasCubiertas;
    }
}

<h5>Profesion: @Model.Profesion</h5>

<span class="font-weight-bold">Total de horas a cubir @Model.CantidadHoras</span>
<span class="font-weight-bold">Se han cubierto @ViewBag.TotalDeHorasCubiertas horas</span>
<span class="font-weight-bold">Restan por curbirse @ViewBag.HorasRestantes horas</span>
<span class="font-weight-bold">
    Porcentaje de aceptación @Model.Propuestas.Valoracion%
 </span>

