@model AyudandoAlProjimo.Data.Propuestas

@{
    ViewBag.Title = "VerDetallePropuesta";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    AyudandoAlProjimo.Data.Usuarios user = (AyudandoAlProjimo.Data.Usuarios)Session["Session"];
    ViewBag.ValoracionActual = Model.PropuestasValoraciones.Where(x => x.IdPropuesta == Model.IdPropuesta && ViewBag.UsuarioActualId == x.IdUsuario).FirstOrDefault();
    ViewBag.MeGusta = ViewBag.ValoracionActual == null ? "btn-secondary" : ViewBag.ValoracionActual.Valoracion == true ? "btn-primary" : "btn-secondary";
    ViewBag.NoMeGusta = ViewBag.ValoracionActual == null ? "btn-secondary" : ViewBag.ValoracionActual.Valoracion == false ? "btn-primary" : "btn-secondary";
}

<div class="container">
    <h3><span class="text-black-50">@Model.Nombre</span></h3>
    <div class="row">
        <div class="col-md-5">
            <img src="~/Imagenes/@Model.Foto" alt="" class="img-thumbnail">
            <div class="text-muted">Propuesta creada por el usuario @Model.Usuarios.UserName</div>
            <div class="text-muted">Solicitando donación de @Model.TipoDeDonacion()</div>
            <div class="text-muted">Creado el @Model.FechaCreacion.ToString("dd/MM/yyyy")</div>
            <div class="text-muted">Finalizando el @Model.FechaFin.ToString("dd/MM/yyyy")</div>
            <p class="text-muted">Descripcion: @Model.Descripcion </p>
        </div>

        <div class="col">
            <div class="card">

                <span class="font-weight-bold">
                    Porcentaje de aceptación
                </span>

                @if (Model.Valoracion != null)
                {
                    <span class="font-weight-bold" id="valoracion">
                        @Model.Valoracion %
                    </span>
                }
                else
                {
                    <span class="font-weight-bold" id="valoracion">
                        0 %
                    </span>
                }

                @if (Model.TipoDonacion == 1)
                {
                    @Html.Partial("VerDetallePropuestaMonetaria", Model.PropuestasDonacionesMonetarias.First())
                }
                else if (Model.TipoDonacion == 2)
                {
                    @Html.Partial("VerDetallePropuestaInsumos", Model.PropuestasDonacionesInsumos.First())
                }
                else
                {
                    @Html.Partial("VerDetallePropuestaHorasTrabajo", Model.PropuestasDonacionesHorasTrabajo.First())
                }


                <div class="container">
                    @if (Model.Estado == 0 && Model.IdUsuarioCreador != user.IdUsuario && Model.FechaFin > DateTime.Today)
                    {           
                        <div><a class="btn btn-block btn-danger mt-3" href="/Propuestas/CargarDenuncia/@Model.IdPropuesta">Denunciar propuesta</a></div>


                        <div class="d-flex justify-content-between">
                            <a href="/Propuestas/MeGusta/@Model.IdPropuesta" id="like" class="btn @ViewBag.MeGusta mt-3 font-weight-bold flex-fill like">Me gusta</a>
                            <a href="/Propuestas/NoMeGusta/@Model.IdPropuesta" id="dislike" class="btn @ViewBag.NoMeGusta mt-3 font-weight-bold flex-fill dislike">No me gusta</a>
                        </div>

                    }

                </div>
                <div class="mt-4 mb-2 font-weight-bold">Referencias:</div>
                @foreach (var referencias in Model.PropuestasReferencias)
                {
                    <div>Nombre: @referencias.Nombre</div>
                    <span class="text-muted">Teléfono: @referencias.Telefono</span>
                }
            </div>
        </div>

    </div>

</div>