@model AyudandoAlProjimo.Data.Propuestas

@{
    ViewBag.Title = "VerDetallePropuesta";
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    AyudandoAlProjimo.Data.Usuarios user = (AyudandoAlProjimo.Data.Usuarios)Session["Session"];
}

<div class="container">
    <h3><span class="text-black-50">@Model.Nombre</span></h3>
    <div class="row">
        <div class="col-md-5">
            <img src="~/Imagenes/@Model.Foto" alt="" class="img-thumbnail">
            <div class="text-muted">Propuesta creada por el usuario @Model.Usuarios.UserName</div>
            <div class="text-muted">Solicitando donación de @Model.TipoDeDonacion()</div>
            <div class="text-muted">Creado el @Model.FechaCreacion.ToString("dd/MM/yyyy")</div>
            <div class="text-muted">Finalizando el @Model.FechaFin.ToString("dd/MM/yyyy")</div>
            <p class="text-muted">Descripcion: @Model.Descripcion </p>
        </div>

        <div class="col">
            <div class="card">
                @if (Model.TipoDonacion == 1)
                {
                    @Html.Partial("VerDetallePropuestaMonetaria", Model.PropuestasDonacionesMonetarias.First())
                }
                else if (Model.TipoDonacion == 2)
                {
                    @Html.Partial("VerDetallePropuestaInsumos", Model.PropuestasDonacionesInsumos.First())
                }
                else
                {
                    @Html.Partial("VerDetallePropuestaHorasTrabajo", Model.PropuestasDonacionesHorasTrabajo.First())
                }


                <div class="container">
                    @if (Model.Estado == 0 && Model.IdUsuarioCreador != user.IdUsuario && Model.FechaFin > DateTime.Today)
                    {
                        <div><a class="btn btn-block btn btn-success mt-3" href="/Propuestas/RealizarDonacion/@Model.IdPropuesta">Realizar donación</a></div>
                        <div><a class="btn btn-block btn-danger mt-3" href="/Propuestas/CargarDenuncia/@Model.IdPropuesta">Denunciar propuesta</a></div>

                        <div class="d-flex justify-content-between">
                            <form action="/Propuestas/Calificar/@Model.IdPropuesta" method="post" id="like">

                                <input type="text" name="IdUsuario" value="@user.IdUsuario" hidden />
                                <input type="text" name="IdPropuesta" value="@Model.IdPropuesta" hidden />
                                <input type="text" name="Valoracion" value="1" hidden />
                                <button type="submit" class="btn btn-success mt-2">Me gusta</button>

                            </form>


                            <form action="/Propuestas/Calificar/@Model.IdPropuesta" method="post" id="dislike">

                                <input type="text" name="IdUsuario" value="@user.IdUsuario" hidden />
                                <input type="text" name="IdPropuesta" value="@Model.IdPropuesta" hidden />
                                <input type="text" name="Valoracion" value="0" hidden />
                                <button type="submit" class="btn btn-secondary mt-2">No me gusta</button>

                            </form>


                        </div>
                    }

                </div>
                <div class="mt-4 mb-2 font-weight-bold">Referencias:</div>
                @foreach (var referencias in Model.PropuestasReferencias)
                {
                    <div>Nombre: @referencias.Nombre</div>
                    <span class="text-muted">Teléfono: @referencias.Telefono</span>
                }
            </div>
        </div>

    </div>

</div>